
h1 {
  color: #800080; 
  font-size: 35px; 
  font-family: Times, serif;
  font-weight: normal; 
  text-align: center
}
h2 {
  color: #800080; 
  font-size: 25px; 
  font-family: Times, serif;
  font-weight: normal;
  text-align: center
}
h3 {
  color: #800080;
  font-family: Times, serif;
  font-weight: normal;
  font-size: 25px;
}

li {
  color:#800080; 
  font-size: 15px; 
  font-family: Times, serif;
  font-weight: normal;
}
  table {
  text-align: justify;
  color:#800080;
  }
  